
body {background-image: url(img/back-pattern.png);}

h1 {color: #191a1e;
	font-family: 'Ubuntu Mono', monospace;;
	font-weight: 900;
	font-size: 40px;
	color: #f8f8f8;}

h2 {font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #f8f8f8;}

p {font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #f8f8f8;}

a:link {color: #4682B4;
		font-family: 'Quicksand', sans-serif;
		text-decoration: none;}

a:hover {color: #FFA500}

a:visited {color: #FFD700;}


.osnova {width: 900px;
		height: 5730px;
		background-color: #000000;
		margin: 0px auto 0px auto;}

.banner {width: 100%}

.menu {background: #FFFACD;
		height: 25px;
		line-height: 25px;
		text-align: center;}

.lenta {width: 80%;
		float: right;
		padding: 0px 15px 0px 15px;}

.ads {width: 22%;
		height: 900px;
		padding: 40px 0px 0px 0px;}

